/* swiper */
.swiper-container {
 width: 480px;
}

.swiper-slide {
 position: relative;
 color: #fff;

 /* Center slide text vertically */
 display: flex;
 justify-content: center;
 align-items: center;
}

.swiper-slide img {
 object-fit: cover;
 background-position: center;
}

.swiper-pagination-bullet-active {
 background-color: #455ff1 !important;
}

/* faq */
.faq {
 padding: 10px 12%;
 text-align: center;
 margin-top: 3rem;
 font-size: 18px;
 /* background: rgb(69, 95, 240); */
 /* background: linear-gradient(
  90deg,
  rgba(69, 95, 240, 1) 10%,
  rgba(236, 38, 98, 1) 59%,
  rgba(69, 95, 240, 1) 97%
 ); */
}

.accordion {
 margin: 30px auto;
 width: 100%;
 max-width: 750px;
}

.accordion li {
 list-style: none;
 width: 100%;
 padding: 5px;
}

.accordion li label {
 font-size: 18px;
 font-weight: 500;
 color: #fff;
}

.accordion .content {
 text-align: left;
 padding: 0 20px;
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.5s, padding 0.5s;
 background: #263238;
}

.content.show {
 max-height: 600px;
 padding: 30px 20px;
}

.faq .email-signup {
 max-width: 600px;
 margin: 20px auto 60px;
}

.faq small {
 font-size: 13px;
}

/* media queries for responsiveness */
@media screen and (min-width: 350px) {
 .swiper-container {
  width: 350px;
 }
}

@media screen and (min-width: 768px) {
 .swiper-container {
  width: 768px;
 }
}

@media screen and (min-width: 1200px) {
 .swiper-container {
  width: 1200px;
 }
}
