@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
}

.gradient-background {
    background: radial-gradient(169.40% 18.55% at 94.76% 16.29%, rgba(200, 251, 231, 0.40) 10%,  rgba(17, 241, 241, 0.40) 40%, rgba(51, 255, 168, 0.30) 90%,);
}

.text-black {
    color: black;
}

.active {
    @apply text-black;

    /* @apply text-black underline underline-offset-4; */
}

.text-gray-light {
    color: lightgrey;
}

span.text-span {
    background: linear-gradient(99deg,
            rgba(17, 241, 241, 1) 100%,
            rgba(51, 255, 168, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}



