
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


.text-black {
    color: black;
}

.active {
    @apply text-black;

    /* @apply text-black underline underline-offset-4; */

}

.text-gray-light {
    color: lightgrey;
}

span.text-span {
    background: linear-gradient(99deg,
            rgba(17, 241, 241, 1) 100%,
            rgba(51, 255, 168, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
